html {
	font-family: "Verdana", sans-serif;
	margin-left: 40px;
	margin-right: 40px;
}
body {
	margin-bottom: 100px;
}
img {
	margin: 30px;
	float: left;
}
.p {
	background-color: #ededed;
	padding-left: 40px;
	padding-right: 40px;
	padding-top: 15px;
	padding-bottom: 15px;
}
h1 {
	text-align: center;
	font-size: 32pt;
}
p {
	font-size: 14pt;
}
ul {
	font-size: 14pt;
}
li {
	padding-top: 5px;
	padding-bottom: 5px;
}
a.weblink {
	text-decoration: none;
	color: #007294;
	font-weight: bold;
}
a.weblink:hover {
	text-decoration: underline;
}
/*Table Format*/
table {
	margin-left: auto;
	margin-right: auto;
}
th {
	color: #FFFFFF;
	font-weight: bold;
	background-color: #007294;
	padding: 10px;
	font-size: 16pt;
}
td {
	padding: 10px;
	font-size: 14pt;
}
td:hover {
	background-color: #f7f7f7;
}
