html {
}
h1, h2, h3, h4, h5, h6 {
	font-family: Verdana, Geneva, sans-serif;
}
h1 {
	font-size: 50px;
}
h3 {
	font-size: 26px;
}
button {
	font-family: "Times New Roman", Times, serif;
	font-size: 16px;
	padding: 5px;
	margin: 5px 1px;
}
p {
	font-size: 20px;
}
a {
	text-decoration: none;
	color: #000000;
}
a:hover {
	text-decoration: underline;
}
footer {
	text-align: center;
	padding-top: 25px;
	padding-bottom: 25px;
}