img {
	display: block;
	margin: auto;
}
.grid-container {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	max-width: 75%;
	margin: auto;
}
iframe {
	display: block;
	margin: auto;
}
h3 {
	text-align: center;
}
.grid-item {
	padding: 10px;
}
