.container {
	max-width: 75%;
	margin: auto;
}
.grid-container {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 25px;
	margin: auto;
	padding: 10px;
}
.grid-item {
}
.info-container {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 25px;
	margin: auto;
	background-color: #f1f1f1;
	padding: 10px;
}